.pagination {
<<<<<<< HEAD
  display: flex;
  list-style-type: none;
  width: 80%;
  justify-content: center;
  height: 50px;
  align-items: center;
}

.pagination a {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.pagination a :hover {
  background-color: darkslateblue;
}

.activeBtn a {
  background-color: green;
  color: black;
=======
    display: flex;
    list-style-type: none;
    width: 80%;
    justify-content: center;
    height: 50px;
    align-items: center;
}

.pagination a {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.pagination a:hover {
    background-color: #b3aeae;
}

.activeBtn a {
    background-color: rgb(93, 125, 175);
    color: #fff;
>>>>>>> a9b04e6d708cca4bd0f4964988c814f8faf366f9
}
